html {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: initial;
}

nav > div {
  font-size: 1.3em;
  min-height: 50px;
  padding: 1rem 4rem;
}
nav > div a {
  text-decoration: none;
  cursor: pointer;
}

nav > div a:hover {
  color: #00a7e0;
}

nav {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-rows: none;

}

.in-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

hr {
  width: 100vw;
  height: 1px;
  background-color: #CFCFCF;
  border: none;
  margin: 0;
}

#specials {
  margin: 0px;
  height: 75%;
  background: linear-gradient(
    -60deg,
    #ffffff 0, 
    #ffffff 25%, 
    #00a7e0 25%, 
    #00a7e0 75%, 
    #ffffff 75%, 
    #ffffff 100%
  );
}

#specials a span {
  color: #ffffff;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
}

.content {
  grid-column: 2/4;
  padding: 2rem;
  margin-right: 3rem;
  border-bottom: 4px solid #CFCFCF;
  border-right: 1px solid #CFCFCF;
  border-left: 1px solid #CFCFCF;
}

.content h1 {
  color: #00a7e0;
  font-size: 2.5em;
  text-transform: uppercase;
}

.content h2 {
  margin: -2rem 0px 2rem 2rem;
  text-transform: lowercase;
  font-style: italic;
}

#images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  cursor: pointer;
  margin: 3rem 0;
}

.image-container {
  position: relative;
  display: grid;
  margin: 0.9rem;
}

.image-container img {
  border: 1px solid #00a7e0;
  display: block;
  width: 20rem;
  max-width: 100%;
  height: 15rem;
}

.middle-display {
  opacity: 0;
  position: absolute;
  width: 20rem;
  max-width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transform: translate(0%, 0);
  -ms-transform: translate(0, 0);
  transition: all 0.1s linear 0s;
  text-align: center;
  background-color: #00a7e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-right: .8px solid #00a7e0;
}

.middle-display h1 {
  display: block;
  font-size: 1.7em;
  color: #ffffff;
}
.middle-display h2 {
  display: block;
  color: #ffffff;
  font-size: 1.2em;
  margin: .1rem 0;
  font-style: normal;
}

#image:hover .image-container img  {
  opacity: 0.3;
}

.image-container:hover .middle-display {
  opacity: 1;
  background-color: #00a7e094;
}

.dropdown-button {
  background-color: #E4E2E3;
  margin: 0 2rem;
  border-radius: 1rem;
  width: 75%;
  height: 3rem;
  text-align: start;
  border-style: none;
  outline: none;
}


.active {
  background-color: #E4E2E3;
}

.dropdown-container {
  font-size: 1.2em;
}
.dropdown-container ul li {
  list-style: none;
}
.dropdown-container ul li::before {
  content: "•"; color: #00a7e0;
  width: 1em;
  height: 2em;
  display: inline-block;
}

@media (min-width: 37.5rem) {
  nav {
    grid-template-rows: none;
    grid-template-columns: 1fr repeat(5, auto);
    text-align: right;
    justify-items: start;
    border-bottom: 2px solid #CFCFCF;
  }

  hr {
    display: none;
  }

}

@media (max-width: 37.5rem) {

  #images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
  }

  #specials {
    height: auto;
  }
}
